<div class="container-fixed fuck">
  <div class="hero-unit fuck">
    <div class="ctn">
      <div class="">
        <img class ="circleMatch" src="//graph.facebook.com/{{auth.user.id}}/picture?type=large" height="150" width="150">
        <!--<img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">-->
      </div>
      <h2 class="tryh2">{{auth.user.displayName}}</h2>
      <h4 class="tryh4">Provo, Ut</h4>
      <p class="tryp">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna
        ip sum dolore.</p>
      <p class="tryp">Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
  </div>
  <div class="hero-unit fuck">
    <section class="container1">
      <h3>Who I've been Jibbiring it up with</h3>
      <!-- HTML Chart -->
      <figure class="chart" data-percent="75">
        <figcaption>HTML</figcaption>
        <img class="css circleMatch" src="https://avatars2.githubusercontent.com/u/10002034?v=3&s=400">
        <svg width="200" height="200">
          <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)" />
        </svg>
      </figure>
      <!-- CSS Chart -->
      <figure class="chart" data-percent="75">
        <figcaption>CSS</figcaption>
        <img class="css circleMatch" src="https://avatars3.githubusercontent.com/u/11713706?v=3&s=400">
        <svg width="200" height="200">
          <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)" />
        </svg>
      </figure>
      <!-- Javascript Chart -->
      <figure class="chart" data-percent="50">
        <figcaption>Javascript</figcaption>
        <img class="javascript circleMatch" src="https://avatars1.githubusercontent.com/u/10288477?v=3&s=400">
        <svg width="200" height="200">
          <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)" />
        </svg>
      </figure>
      <!-- Node.js Chart -->
      <figure class="chart" data-percent="25">
        <figcaption>Node</figcaption>
        <img class="node circleMatch" src="https://avatars0.githubusercontent.com/u/10765823?v=3&s=400">
        <svg width="200" height="200">
          <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)" />
        </svg>
      </figure>
      <p>Keep on Jibbiring to raise your score</p>
    </section>
  </div>
</div>